.bton {
  margin-left: -10px;
  margin: 4px 2px;
  border: "none";
  color: white;
  padding: 8px 18px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  cursor: pointer;
  background: linear-gradient(
    -45deg,
    #ff3d77,
    #ffbe3d,
    #17bc7f,
    #338aff,
    #3cf0c5,
    #ff3d77
  );
  background-size: 800%;
  border-radius: 5px;
  z-index: 1;
}
.bton:hover {
  animation: animate 8s linear infinite;
}
@keyframes animate {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.bton:before {
  content: "";
  position: absolute; /* remove this to remove Cards background glow */
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(45deg, #f15523, #ef3224, #7c3697);
  background-size: 400%;
  border-radius: 40px;
  opacity: 0;
  transition: 0.5%;
}
.bton:hover:before {
  filter: blur(20px);
  opacity: 1;
  animation: animate 10s linear infinite;
}
