outbtn {
  border: none;
  display: inline-block;
  border-radius: 90px;
  color: rgb(2, 217, 255);
  position: relative;
  z-index: 1;
  font-size: 12px;
  padding: 10px 20px;
  font-weight: 100;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
}

outbtn:before,
outbtn:after {
  content: " ";
  position: absolute;
  border-radius: 99px;
}

outbtn:before {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -2;
  background: #503b9a;
  background: -moz-linear-gradient(left, #503b9a 0%, #269cc1 100%);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%, #503b9a),
    color-stop(100%, #269cc1)
  );
  background: -webkit-linear-gradient(left, #503b9a 0%, #269cc1 100%);
  background: -o-linear-gradient(left, #503b9a 0%, #269cc1 100%);
  background: -ms-linear-gradient(left, #503b9a 0%, #269cc1 100%);
  background: linear-gradient(to right, #503b9a 0%, #269cc1 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#503b9a', endColorstr='#07b0e3',GradientType=1 );
}

outbtn:after {
  top: 2px;
  bottom: 2px;
  left: 2px;
  right: 2px;
  background-color: rgb(255, 255, 255);
  z-index: -1;
  opacity: 1;
  transition: all 0.6s ease-in-out;
}

outbtn:hover:after {
  opacity: 0;
}
